body {
  margin: 0;
  font-family: sans-serif;
}

/* flexbox */

nav {
  display: flex;
  height: 54px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.logo {
  height: 23px;
  width: 108px;
}

.nav-links {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.nav-links > li {
  margin-left: 12px;
  display: flex;
  align-items: flex-end;
}

.nav-links > li > a {
  text-decoration: none;
  color: black;
}

.nav-links > li > a:hover {
  border-bottom: 1px solid black;
}

.nav-links-left {
  padding-left: 16px;
}

main {
  /* background-color: #e6e6e6; */
}

.hero {
  display: flex;
  height: 480px;
  justify-content: space-around;
  align-items: center;
}

.hero-text {
  width: 40%;
}

.hero img {
  width: 40%;
}

.sale-tag {
  background-color: white;

  /* padding-left: 14px;
    padding-top: 5px;
    padding-right: 14px;
    padding-bottom: 5px; */

  /* padding: 5px 14px 5px 14px; */

  padding: 5px 14px;
  font-weight: bold;
  color: red;
}

.hero-text button {
  padding: 8px 20px;
  font-weight: bold;
  background-color: black;
  color: white;
  border: none;
}

.button-text {
  background-color: black;
  color: white;
}

.button-text:hover {
  border-bottom: 1px solid white;
}

.button-main {
  height: 100px;
  display: flex;
  justify-content: center;
}

.container {
  width: 720px;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
}

.card {
  height: 256px;
  width: 256px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card a {
  text-decoration: none;
  color: black;
}

.card-img {
  height: 200px;
}

.card-img:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card-img img {
  height: 200px;
}

.card-description {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.card-price {
  font-weight: bold;
}
